body
{
color: #353230;
font-family: 'Open Sans', arial, sans-serif;
font-weight: 300;
-webkit-font-smoothing: antialiased;
padding: 2em;
overflow:hidden;
}

#main
{
position: absolute;
top: 33px;
left: 15px;
width: 100%;
height: 75px;
color: #222;
font-size:83%
}

#limit
{
position: absolute;
margin:0px;
padding:0px;
top: 20px;
left: 370px;
width: 350px;
visibility: hidden;
background-color:#ffffff;
}

#header
{
position: absolute;
left:0%;
top:0%;
width:100%;
padding-bottom:7px;
background-color:#353230;
z-index:99;
}

#header a
{
position:relative;
top:2px;
left:5px;
color:#cacdcf;
text-decoration: none;
font-family: arial,verdana, sans-serif;
font-size: 83%;
}

#result
{
position: absolute;
top: 100px;
left:1px;
height: 250px;
width:600px;
overflow:hidden;
}